<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-android-screenshare"
    version="1.0.0">

  <name>CordovaAndroidScreenshare</name>
  <description>Screenshare in Cordova Android</description>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <author>Rex Chiu</author>

  <js-module src="www/index.js" name="CordovaAndroidScreenshare">
    <clobbers target="CordovaAndroidScreenshare" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaAndroidScreenshare">
        <param name="android-package" value="com.iotum.CordovaAndroidScreenshare" />
      </feature>
    </config-file>
    <config-file parent="application" target="AndroidManifest.xml">
      <service
        android:name=".MediaProjectionService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="mediaProjection" />
    </config-file>
    <source-file src="src/android/com/iotum/CordovaAndroidScreenshare.java" target-dir="src/com/iotum" />
  </platform>
</plugin>